extends layout

block content
  h1= title

  div 
  h4 Send a link to your email to change your password
  form#forgot_password-form(action='javascript:sendLink()', method='POST')
    input(type="email" name="email" placeholder="Email")
    br
    br
    button#login(type="submit") Send link to my email


  script.
    function sendLink() {
      
      let form = $("#forgot_password-form");
      let body = form.serialize();
      console.log('Post body ', body)

      $.post('/user/forgot_password', body).done(function(data){
        console.log(data);
        alert(data.message);
      })
      .fail(function(error) {
        alert( error.Error );
      });  
    }