extends layout

block content
  h1= title

  div 
  form#reset-password-form(action='javascript:updatePassword()', method='POST')
    input(type="password" name="password" autocomplete="new-password" placeholder="Password")
    br
    br
    button#login(type="submit") Change password
  br
  br
  | Remembered your password? 
  a(href="/user/login") Login


  script.
    $( window ).on('load', function() {
        console.log('window onload')
        const queryString = window.location.search;
        const parameters = new URLSearchParams(queryString);
        const token = parameters.get('token');
        localStorage.setItem('token', token);            
        window.history.pushState({}, "localhost:3300", "/" + "user/reset_password");
    });

    function updatePassword() {

        const token = localStorage.getItem('token');
        console.log('auth token', token);
      
        let form = $("#reset-password-form");
        let body = form.serialize();
        console.log('Post body ', body)

        $.ajax({
            type: "POST",
            url: "/user/reset_password",
            headers: {
                'Authorization': 'Bearer ' + token, 
                'Referrer-Policy': 'no-referrer'
            },
            data: body,
            success: function(data){
                console.log(data.message)
                alert(data.message);
            },
            error: function(error){
                alert(error.message)
            }
        });
    }